<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Students List</title>
</head>
<body>
<h1>List of Students</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>University</th>
    <!-- Add more headers if needed -->
  </tr>
  <tr th:each="student : ${students}">
    <td th:text="${student.id}"></td>
    <td th:text="${student.name}"></td>
    <td th:text="${student.university.name}"></td>
    <!-- Add more columns if needed -->
  </tr>
</table>
</body>
</html>
