<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Universities Main Page</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-image: url("/students_main_bg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    .sidebar {
      height: 100%;
      width: 250px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #343a40;
      padding-top: 20px;
      list-style-type: none;
    }
    .sidebar a {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: #ffffff;
    }

    .sidebar a:hover {
      color: #cccccc;
    }
    .content {
      margin-left: 250px;
      padding: 20px;
    }

    .text-box {
      background-color: rgba(188, 143, 143, 0.9);
      padding: 20px;
      border-radius: 10px;
      width: 80%;
      max-width: 600px;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
<div class="sidebar" style="text-align: center;">
  <h2 style="text-align: center; color: #cccccc;">Universities Options</h2>
    <li><a href="#" id="findUniversityByIdButton" data-toggle="modal" data-target="#universityIdModal">Find University by ID</a></li>
    <li><a href="#" id="findUniversityByNameButton" data-toggle="modal" data-target="#universityNameModal">Find University by Name</a></li>
    <li><a th:href="@{/universities/create}">Register University</a></li>
    <li><a th:href="@{/universities/all}">See all Universities</a></li>
    <li><a href="#" id="deleteUniversityButton" data-toggle="modal" data-target="#deleteUniversityModal">Delete University</a></li>
    <li><a th:href="@{/}">Go to Homepage</a></li>
</div>
<div class="content">
  <div class="text-box">
    <h1>Welcome to the University Hub</h1>
    <p>Here you can see all the information about the universities that are registered on this site and details about them.</p>
  </div>
  <div class="text-box">
    <h1>Search</h1>
    <p>We have two options for you to find universities on our site, by ID. By doing this you will see all the information about the university.</p>
  </div>
  <div class="text-box">
    <h1>See all universities</h1>
    <p>You have the option to see a list of all the universities that are registered on our site.</p>
  </div>
  <div class="text-box">
    <h1>Register</h1>
    <p>If you do not find your desired university here, we welcome you to register it to our site.</p>
  </div>
  <div class="text-box">
    <h1>Delete</h1>
    <p>If we are no longer an interest for the university, you can simply delete the universities data by using the university id.</p>
  </div>
</div>


<div class="modal fade" id="universityIdModal" tabindex="-1" role="dialog" aria-labelledby="universityIdModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: #B0C4DE;">
      <div class="modal-header">
        <h5 class="modal-title" id="universityIdModalLabel">Find University by ID</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="universityIdForm">
          <div class="form-group">
            <label for="universityIdInput">Enter University ID:</label>
            <input type="text" class="form-control" id="universityIdInput" name="id">
          </div>
          <button type="submit" class="btn btn-dark">Search</button>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="universityNameModal" tabindex="-1" role="dialog" aria-labelledby="universityNameModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: #B0C4DE;">
      <div class="modal-header">
        <h5 class="modal-title" id="universityNameModalLabel">Find University by Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="universityNameForm">
          <div class="form-group">
            <label for="universityNameInput">Enter University Name:</label>
            <input type="text" class="form-control" id="universityNameInput" name="name">
          </div>
          <button type="submit" class="btn btn-dark">Search</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteUniversityModal" tabindex="-1" role="dialog" aria-labelledby="deleteUniversityModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: #B0C4DE;">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteUniversityModalLabel">Delete University</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="deleteUniversityForm">
          <div class="form-group">
            <label for="deleteUniversityIdInput">Enter University ID:</label>
            <input type="text" class="form-control" id="deleteUniversityIdInput" name="id">
          </div>
          <button type="submit" class="btn btn-dark">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  document.getElementById('universityIdForm').addEventListener('submit', function(event) {
    event.preventDefault();
    var universityId = document.getElementById('universityIdInput').value;
    window.location.href = '/universities/details/' + universityId;
  });

  document.getElementById('universityNameForm').addEventListener('submit', function(event) {
    event.preventDefault();
    var universityName = document.getElementById('universityNameInput').value;
    window.location.href = '/universities/search?name=' + universityName;
  });

  document.getElementById('deleteUniversityForm').addEventListener('submit', function(event) {
    event.preventDefault();
    var universityId = document.getElementById('deleteUniversityIdInput').value;
    window.location.href = '/universities/delete/' + universityId;
  });
</script>
</body>
</html>
